version: '{build}'
init:
  - 'git config --global core.autocrlf true'
branches:
  only:
    - master
    - workshop
skip_commits:
  files:
    - LICENSE
    - README.md
    - slides/pdf/*.pdf
    - eop_card-game/*.*
    - malware-profiles/*.*
environment:
  nodejs_version: 14
  access_token:
    secure: 6kYK07ag0dhNGpCU7GWttnCFqHvt6cM7UMntTQxdAu2lqhTeAoezC7AUJ1AIrx5+
platform:
  - x64
install:
  - ps: 'Install-Product node $env:nodejs_version $env:platform'
  - 'node --version && npm --version'
  - 'npm i -g @marp-team/marp-cli@1.7.0'
build_script:
  - 'set PUPPETEER_TIMEOUT=0'
  - 'marp'
test: off
on_success:
  - 'git config --global credential.helper store'
  - ps: 'Add-Content "$HOME\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n"'
  - 'git config --global user.email "bjoern.kimminich@nordakademie.de"'
  - 'git config --global user.name "Bjoern Kimminich"'
  - 'git checkout %APPVEYOR_REPO_BRANCH%'
  - 'git add ./slides/pdf/*.pdf'
  - 'git commit -m "Pushing PDFs generated by AppVeyor build %APPVEYOR_BUILD_NUMBER% for %APPVEYOR_REPO_COMMIT%"'
  - 'git push'
